# Python
__pycache__/
*.pyc
.env/
venv/
*ipynb_checkpoints*

# DVC cache
.dvc/

# Data and models are tracked via DVC, so ignore local copies if you want
# (optional, since DVC handles this)
data/
v0/
v1/
model.joblib
/v0
processed_data/
mlruns/
*joblib
/v1
